<!DOCTYPE html>

<html>

<head>

<title>
Kamu İhale Karar AI
</title>


<style>

body{

font-family:Arial;
margin:40px;

}


.kart{

border:1px solid #ccc;
padding:20px;
margin-top:20px;

border-radius:10px;

}


button{

padding:10px;

}


textarea{

width:600px;
height:80px;

}


</style>


</head>


<body>


<h1>
⚖ Kamu İhale Karar AI
</h1>


<form method="post">


<textarea name="soru"
placeholder="Uzman sorusunu yazınız">

</textarea>


<br><br>


<button>
ARA
</button>


</form>




<h2>
Sonuçlar
</h2>



{% for puan,k in cevap %}


<div class="kart">


<h3>

{{k.karar_no}}

</h3>



<b>
Soru:
</b>

<br>

{{k.soru_basligi}}


<br><br>



<b>
Özet:
</b>

<br>

{{k.kisa_ozet}}


<br><br>


<b>
Sonuç:
</b>

<br>

{{k.sonuc}}


<br><br>


<b>
Emsal:
</b>

<br>

{{k.emsal_ilke}}


<br><br>


<b>
Güven:
</b>

{{k.guven_orani}}



</div>



{% endfor %}



</body>

</html>